<nav class="navbar navbar-expand-lg navbar-custom">
    <a href="#" class="navbar-brand">
        <img src="./assets/logoUNAD.png" alt="Logo" width="100" class="d-inline-block align-top">
    </a>
    <!-- <button type="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="collapse" aria-expanded="false" aria-label="Toggle sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
      </button> -->
    <div class="mx-auto">
        <h2>Proyecto Demo</h2>
    </div>
</nav>
