.div{
    border-color: #015883;
}

.letra {
    font-weight: bold;
    font-size: large;
}

.btnMap {
    border: 2px solid;
    border-color: #015883;
    
    color: black;
    position: relative;
    margin-top: 16px;
    
}

.btnMap:hover {
    cursor: pointer;
    background-color: #015883;
    color: white;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.accordion-button:hover {
    background-color: #015883;
    color: white;
}

.accordion-button:focus {
    background-color: #015883;
    color: white;
    
}