<div class="container mt-2">
    <h3 style="color: #015883;">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="orange" class="bi bi-file-earmark"
            viewBox="0 0 16 16">
            <path
                d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
        </svg>
        Mapa conceptual con botones para desplegar información
    </h3>
    <hr>
    <h4 style="color: #015883;">How can I structure the body of the literature review?</h4>

    <div class="p-4 mt-2" style="border: 4px solid; border-color: #015883;">
        <p>
            Depending on the length of the review and on its purposes, you can organize your literature review using
            different approaches. You can choose one of the following methodologies or you can combine them but
            congruently.
        </p>
        <p class="letra">Click on the icons below to listen to the descriptions of the approaches.</p>
    </div>

    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Chronological or historical approach:</strong> &nbsp;review within a period of time.
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    This methodology is about tracing the development of the topics or theories over time. You need to
                    explain and interpret this development by analyzing patterns, turning points and key debates that
                    have shaped the direction of the field. <br><br>
                    For the review, it is important to set a starting date, year or period and justify the choice of
                    this period. <br><br>

                    This chronological approach is related to a historical one since it focuses on examining research
                    throughout a period of time, often starting with the first time an issue, concept, theory, phenomena
                    emerged in the literature, then tracing its evolution within the scholarship of a discipline. The
                    purpose is to place research in a historical context to show familiarity with state-of-the-art
                    developments and to identify the likely directions for future research.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample2">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTres" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Thematic approach: </strong> &nbsp;review organized in themes and concepts.
                </button>
            </h2>
            <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    With this methodology, you can organize the literature review into several subsections to address
                    the different themes, concepts and aspects of your topics, but you have to be careful not to just
                    make a list of themes; the presentation of the research must respond to an organizational pattern in
                    order to attain connections.
                    <br>
                    <br>
                    The thematic approach can also be developed along with the chronological approach to account for the
                    progression of time of the different themes.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample3">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Methodological approach: </strong> &nbsp;review based on research procedures.
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    A literature review can also emphasize the methods or procedures that the different research studies
                    implemented to obtain and analyze data, as well as to state the final findings. This means that the
                    review cares more about how the researchers came about stating the findings more than the findings
                    themselves, unlike the thematic approach, which emphasizes more the results.
                    <br><br>
                    Reviewing methods of analysis provides a framework of understanding at different levels, for
                    example, qualitative and quantitative approaches, empirical and scientific research, ethnographic
                    and experimental research, etc.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample3">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Theoretical approach: </strong> &nbsp;review to discuss and question theories.
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    In this kind of lit review, you can discuss theories, concepts, approaches, etc. This approach can
                    mean the theoretical framework for your research to the extent that it helps to establish what
                    theories already exist, the relationships between them, to what degree the existing theories have
                    been investigated, and to develop new hypotheses to be tested.
                    <br><br>
                    Often this form is used to help establish a lack of appropriate theories or reveal that current
                    theories are inadequate for explaining new or emerging research problems.
                    <br><br>
                    The unit of analysis can focus on a theoretical concept or a whole theory or framework.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample3">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Argumentative approach: </strong> &nbsp;review to support or refute an argument.
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    This approach examines literature selectively in order to support or refute an argument, a deeply
                    imbedded assumption, a hypothesis, or a philosophical problem already established in the literature.
                    The purpose is to develop a body of literature that establishes a contrarian viewpoint.
                    <br><br>
                    Argumentative approaches to analyzing the literature can be a legitimate and important form of
                    discourse.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample3">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Argumentative approach: </strong>&nbsp; review to support or refute an argument.
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    This approach examines literature selectively in order to support or refute an argument, a deeply
                    imbedded assumption, a hypothesis, or a philosophical problem already established in the literature.
                    The purpose is to develop a body of literature that establishes a contrarian viewpoint.
                    <br><br>
                    Argumentative approaches to analyzing the literature can be a legitimate and important form of
                    discourse.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample3">
        <div class="accordion-item" style="border: 2px solid; border-color: #015883;">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Theoretical approach: </strong>&nbsp;review to discuss and question theories.
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">
                    In this kind of lit review, you can discuss theories, concepts, approaches, etc. This approach can
                    mean the theoretical framework for your research to the extent that it helps to establish what
                    theories already exist, the relationships between them, to what degree the existing theories have
                    been investigated, and to develop new hypotheses to be tested.
                    <br><br>
                    Often this form is used to help establish a lack of appropriate theories or reveal that current
                    theories are inadequate for explaining new or emerging research problems.
                    <br><br>
                    The unit of analysis can focus on a theoretical concept or a whole theory or framework.
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
